/* /src/components/QuantitySelector.css */

.quantity-selector {
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  width: fit-content; /* Chiều rộng vừa đủ nội dung */
}

.quantity-button {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: var(--font-medium);
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: background-color 0.2s;
}

.quantity-button:hover {
  background-color: #f0f0f0;
}

.quantity-input {
  width: 50px; /* Chiều rộng của ô số */
  text-align: center;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  border: none;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  padding: 0.5rem 0;
  background-color: transparent;
}

/* Ẩn các mũi tên lên xuống của input type number */
.quantity-input:focus {
  outline: none;
}
.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
